*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background: radial-gradient(farthest-corner at 45px 45px , #FFF 0%, #0808e4 100%);
    height: 100vh;
    align-items: center;
    font-family: Bebas Neue;
}

#portada{
    width: 100%;
    height: 20vh;
    border-bottom: 1px solid black;
}

#zocalo{
    max-width: 100%;
    display: block;
    height: 100%;
    width: 100%;
}

#main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#container{
    height: 80vh;
    width: 100%;
    display: flex;
    background-color: rgba(50, 50, 250, 0.3);
    align-self: flex-end;
}

#indice{
    display: flex;
    flex-direction: column;
    width: 15%;
    font-size: 200%;
    height: 100%;
}

#contacto{
    border: red solid 1px;
    height: 100%;
}

#seccion{
    width: 85%;
}

.seccionIndice{
    height: 30%;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    text-indent: 10px;
}

.seccionIndice:hover{
    color: royalblue;
    background-color: white;
}

#titulo-seccion{
    height: 15%;
    background-color: white;
    display: flex;
    align-items: center;
    text-indent: 10px;
    border: 1px black solid;
    border-bottom: 0px;
    border-top: 0px;
}

#post{
    border: black 1px solid;
    height: 84.6%;
    border-bottom: 0px;
}

#fecha{
    height: 10%;
    background-color: rgba(150, 150, 150, 0.7);
    display: flex;
    align-items: center;
    text-indent: 10px;
}

#titulo-autor{
    height: 15%;
}

.titulo-autor{
    display: flex;
    align-items: center;
    text-indent: 10px;
}

#cuerpo{
    height: 100%;
    background-color: rgb(107, 139, 235);
}

p{
    padding: 20px;
}

#titulo{
    height: 50%;
}

#autor{
    height: 50%;
}